.main-chat
  .rightHeader
    .rightHeader__group
      .rightHeader__groupName
        = @group.name
      %ul.rightHeader__groupMembers
        Member：
        - @group.users.each do |user|
          %li.rightHeader__groupMember<
          = user.name
    = link_to edit_group_path(@group),class: "rightHeader__edit-btn" do
      Edit
  .rightBody
    = render @messages
  .rightFooter
    = form_with model: [@group, @message], html: {class: "input-items"}, local: true do |f|
      .input-items__form
        = f.text_field :body, class: 'input-items__text', placeholder: 'type a message'
        = f.label :image, class: 'input-items__image' do
          = icon('far', 'image', class: 'input-items__image__icon')
          = f.file_field :image, class: 'input-items__image__file'
      = f.submit 'Send', class: 'input-items__send-btn'