.side-bar
  .leftHeader
    .leftHeader__items
      .leftHeader__userName
        masa
      %ul.leftHeader__icons
        %li<
          = link_to "#" do
            = icon('far', 'edit', class: "leftHeader__icon" )
        %li<
          = link_to "#" do
            = icon('fas', 'cog', class: "leftHeader__icon" )
  .leftBar
    .leftBar__items
      .leftBar__groupName
        techcamp
      .leftBar__groupInfo
        = link_to "#" do
          まだメッセージがありません
    .leftBar__items
      .leftBar__groupName
        techcamp
      .leftBar__groupInfo
        = link_to "#" do
          まだメッセージがありません
    .leftBar__items
      .leftBar__groupName
        techcamp
      .leftBar__groupInfo
        = link_to "#" do
          まだメッセージがありません
